<template name="search">
  <div class="sText">
    <paper-input-decorator
                           id="searchText"
                           floatingLabel
                           label="find an author">
      <input is="core-input" id="sInput">
    </paper-input-decorator>
  </div>
  <div class="sBtn">
    <paper-button
                  raised
                  class="colored"
                  role="button"
                  tabindex="0">
      search
    </paper-button>
  </div>
</template>