head
	meta(charset="utf-8")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black")
	meta(name="format-detection" content="telephone=no")
	meta(name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0")

body

template(name="layout")
	+Template.dynamic(template=nav)
	+Template.dynamic(template=content)


